.list {
    display: inline-block; 
    border-right: 2px solid black; 
    height: 80vh; 
    vertical-align: top;
    width: 29%; 
}

.list > ul {
    list-style: none;
}

.list >ul > a >li {
    border: 1px solid black; 
    width: 90%; 
    height: 50px; 
}

a {
    text-decoration: none; 
    color: black;
}

.selected {
    background-color: lightblue; 
}